
<link crossorigin="anonymous" media="all" integrity="sha512-ZUjVod2EvYMDbGqRSyW0rpfgBq3i+gnR/4PfrzLsy5f20oIcRfgFQFVKgi3Ztp917bP1K/kdP5q8+nAlJ3+cFA==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-6548d5a1dd84bd83036c6a914b25b4ae.css">

<link crossorigin="anonymous" media="all" integrity="sha512-aWCt/A1qCFFHv/UKBoS9jHRqexpzl4le8rrCfAyIIm8RdnEfFxDyhl0nZwbEgY9MXQrQaCOx6doLeYgiLhkJFw==" rel="stylesheet" href="https://github.githubassets.com/assets/github-6960adfc0d6a085147bff50a0684bd8c.css">
    
    
<!--  sdddddddddddddddddddddddddd -->
<div class="row">
    <div class="col"></div>
    <div class="repository-content col">
        <div class="js-check-all-container" data-pjax="">
           <div class="subnav">
              <a style="color: white;" class="btn btn-primary float-right" (click)="newMilestone()">New milestone</a>
              <nav class="subnav-links float-left d-flex no-wrap" aria-label="Issue">
                 
                 <a selected_link="repo_milestones" class="js-selected-navigation-item selected subnav-item" aria-current="page" data-selected-links="repo_milestones /adamovivan/UKS/milestones" href="/adamovivan/UKS/milestones">
                    <svg class="octicon octicon-milestone" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                       <path fill-rule="evenodd" d="M8 2H6V0h2v2zm4 5H2c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h10l2 2-2 2zM8 4H6v2h2V4zM6 16h2V8H6v8z"></path>
                    </svg>
                    Milestones
                 </a>
              </nav>
           </div>
           <div class="table-list-header">
              <div class="table-list-filters">
                 <div class="table-list-header-toggle states float-left">
                    <a class="btn-link selected" href="/adamovivan/UKS/milestones?state=open">
                       <svg class="octicon octicon-milestone" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                          <path fill-rule="evenodd" d="M8 2H6V0h2v2zm4 5H2c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h10l2 2-2 2zM8 4H6v2h2V4zM6 16h2V8H6v8z"></path>
                       </svg>
                       {{open}}
                       Open
                    </a>
                    <a class="btn-link " href="/adamovivan/UKS/milestones?state=closed">
                       <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
                          <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                       </svg>
                       {{closed}}
                       Closed
                    </a>
                 </div>
              </div>
           </div>
           <ul *ngFor="let milestone of milestones; let i = index" class="table-list table-list-bordered table-list-milestones js-navigation-container js-active-navigation-container">
              <li class="table-list-item milestone pastdue">
                 <div class="table-list-cell milestone-title">
                    <h2 class="milestone-title-link">
                       <a href="/adamovivan/UKS/milestone/3">{{milestone.title}} <p *ngIf="milestone.closed_at != null" style="color: red;"> CLOSED </p></a>
                    </h2>
                    <div class="milestone-meta">
                       <span class="milestone-meta-item">
                          <strong class="description-warning" title="February 20, 2020">
                             <span class="mr-1">
                                <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                                   <path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 000 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 00.01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path>
                                </svg>
                             </span>
                             Due on {{milestone.due_on}}
                          </strong>
                       </span>
                       <span class="milestone-meta-item">
                          <svg class="octicon octicon-clock" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                             <path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 011.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                          </svg>
                          Last updated <span title="2020-02-18 13:45:24 +0100">{{milestone.updated_at}}</span>
                       </span>
                    </div>
                    <div class="milestone-description js-details-container Details open">
                       <div class="milestone-description-html markdown-body">
                          <p>{{milestone.description}}</p>
                       </div>
                    </div>
                 </div>
                 <div class="table-list-cell milestone-progress">
                    <span class="progress-bar progress-bar-small"><span class="progress" style="width: milestone.closed_issues%">&nbsp;</span></span>
                    <div class="stats">
                       <div class="stat">
                          <span class="progress-percent">{{(100/(milestone.open_issues+milestone.closed_issues))*milestone.closed_issues}}%</span>
                          <span class="stat-label">complete</span>
                       </div>
                       <div class="stat">
                          <a href="/adamovivan/UKS/issues?q=is%3Aopen+milestone%3A%22Connect+with+github+api%22">
                           {{milestone.open_issues}}
                          <span class="stat-label">open</span>
                          </a>      
                       </div>
                       <div class="stat">
                          <a href="/adamovivan/UKS/issues?q=is%3Aclosed+milestone%3A%22Connect+with+github+api%22">
                           {{milestone.closed_issues}}
                          <span class="stat-label">closed</span>
                          </a>      
                       </div>
                    </div>
                    <div class="f5 mt-2 text-gray-dark">
                       <a class="d-inline-block mr-2" href="#">Edit</a>
                       <button type="submit" class="btn-link mr-2">Close</button>
                       <button type="submit" class="btn-link" style="color: red;">Delete</button>
                    </div>
                 </div>
              </li>
              
           </ul>
        </div>
     </div>
    <div class="col"></div>
</div>
