<div class="row">
   <div class="col-md-4"></div>
   <div class="col-4">
       <h1 class="h3 mb-3 font-weight-normal mt-3">Create Milestone</h1>
       Create a new milestone to help organize your issues and pull requests.
       <form class="mt-4" [formGroup]="SingIn" (ngSubmit)="onSubmit($event)" novalidate>
           <div class="form-group">
               <div class="row">
                   <div class="col-4">
                       <label>Title</label>
                   </div>
                   <div class="col-8">
                       <input type="text" placeholder="Title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />

                       <div *ngIf="submitted && f.title.errors">
                           <div style="color:red;">Title is incorect!</div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="form-group">
               <div class="row">
                   <div class="col-4">
                       <label>Due date (optional)</label>
                   </div>
                   <div class="col-8">
                       <input type="date" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd" class="form-control" formControlName="dueData" [ngClass]="{ 'is-invalid': submitted && f.dueData.errors }">

                       <div *ngIf="submitted && f.dueData.errors">
                           <div style="color:red;">Due data is incorect!</div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="form-group">
               <div class="row">
                   <div class="col-4">
                       <label>Description</label>
                   </div>
                   <div class="col-8">
                       <input type="text" placeholder="Description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />

                       <div *ngIf="submitted && f.description.errors">
                           <div style="color:red;">Description name is incorect!</div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="form-group">
               <div class="row">
                   <div class="col-6">
                   </div>
                   <div class="col-6">
                       <button class="btn btn-primary" type="submit" style="float: right;">
                           Register
                       </button>
                   </div>
               </div>
           </div>

       </form>
   </div>
   <div class="col-md-4"></div>
</div>