<div class="container">
    <div class="row">
        <div class="col-1">
            <!--ovde cemo isctati sliku ulogovanog korisnika -->
            <div style="height: 20px">

            </div>
            <img src="../../../assets/git.png" class="rounded float-right" style="width: 50px; height: 50px;">
        </div>
        <div class="col-8">
            <div style="height: 20px">

            </div>
            <div class="card">
                <div class="card text-center">
                    <div class="card-header">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Title">
                        <br>
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Write</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Preview</a>
                            </li>
                        </ul>
                    </div>


                    <div class="card-body">
                        <textarea class="form-control" placeholder="Comment" rows="10"></textarea>
                        <br>
                        <button type="button" class="btn btn-success float-right"> Submit new issue </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div style="height: 20px"> </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Assignees <i class="material-icons float-right">settings</i>
                            <br>
                            <p> No one - <a href="#"> assign yourself </a> </p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            Labels <i class="material-icons float-right">settings</i>
                            <br>
                            <p> None yet </p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            Projects <i class="material-icons float-right">settings</i>
                            <br>
                            <p> None yet </p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            Milestone <i class="material-icons float-right">settings</i>
                            <br>
                            <p> No milestone </p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            Linked pull requests
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>