<div class="container">
    <div class="row">
        <div class="col-2">
           
        </div>
        <div class="col-8">
            <div style="height: 20px">

            </div>
            <div class="card">
                <div class="card text-center">
                    <div class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                            <div class="form-group">
                                <input type="text" formControlName="username" class="form-control"  placeholder="Username" [ngClass]="{'is-invalid':submitted && form.username.errors}">
                                <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                                    <div *ngIf="form.username.errors.required">Username is required</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="email" class="form-control"  placeholder="Email" [ngClass]="{'is-invalid':submitted && form.email.errors}">
                                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                        <div *ngIf="form.email.errors.required">Email is required</div>
                                        <div *ngIf="form.email.errors.email">Email is incorrect</div>
                                </div>
                            </div>
                            
                            <br>
                            <button type="submit" class="btn btn-success float-center"> Register </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
           
        </div>
    </div>
</div>