Django==3.1.13
django-redis==4.11.0
gunicorn==19.8.1
psycopg2==2.7.4
python-json-logger==0.1.8
python-logstash==0.4.6
pytz==2018.4
redis==3.4.1
django-cors-headers==3.2.1
djangorestframework==3.11.0
requests==2.23.0