.mainDiv {
    margin-top: 2pc;
    margin-left: 10pc;
}

.state {
    display: inline-block;
    text-align: center;
    height: 2pc;
    width: 5pc;
    padding-top: 0.4pc;
}

.creator {
    color: grey;
    display: inline-block;
    margin-left: 1pc;
    margin-top: 0.4pc;
}

.newComment{
    margin-top: 5pc;
    width: 40pc;
}

.newCommentDiv{
    height: 10pc;
}

.divider {
    width: 60pc;
}

.grey-text{
    color: grey
}

.comments {
    margin-left: 2pc;
}

.comments-divider {
    width: 58pc;
}

.commentedComment{
    width: 40pc;
}

textarea:disabled {
    resize: none;
    color: black;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}

.open-closeBtn{
    margin-left: 26.8pc;
}

.commentBtn{
    color: white;
    background-color: green;
    margin-left: 1pc;
}