<br> 
<div class="container"> 
    <div class="col-1">

    </div>

    <div class="col-10">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1"> Created 
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2"> Assigned 
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3"> Mentioned 
            </label>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
            <span style="display: block">  <a href="#"><i class="material-icons" > error_outline </i> 1 Open </a>   <a href="#">  <i class="material-icons"> done </i> 1  Closed </a> </span>
            </div>
            <ul class="list-group">
                <li class="list-group-item"> owner/repo  issue 1</li>
                <li class="list-group-item"> owner/repo issue 2</li>
            </ul>
        </div>
    </div>
    <div class="col-1"></div>
</div>
