<link crossorigin="anonymous" media="all" integrity="sha512-5Bs4ERl99/u2AUfpOZF2F0cdfNby7+Vd9teUshXUBPo5CjwECR7IAEf+weI/eCk5tF7K1h3O8hd8k0+P/HePeg==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-e41b3811197df7fbb60147e939917617.css">
<link crossorigin="anonymous" media="all" integrity="sha512-Re61UH4xUBCOxx/3uaTk/9AqjeMSjHipJO5zH6E+sQMQ+Zkxn17bzp/SgdY7c/FV1tXeSfswGs0dx2OMPMsIrg==" rel="stylesheet" href="https://github.githubassets.com/assets/github-45eeb5507e3150108ec71ff7b9a4e4ff.css">
<div class="container-lg clearfix new-discussion-timeline  p-responsive mt-5">
   <div class="repository-content ">
       <!-- Drop down meni gde treba samo ubaciti trenutno branchove -->
       <!-- Example split danger button -->
       <select class="browser-default custom-select" (change)="branch($event.target.value)" style="width: 20vw; color: red;">
       <!--select class="browser-default custom-select" style="width: 20vw; color: red;"-->
         <option selected value="master">Branch : master</option>
         <option *ngFor="let branch of branches; let i = index" value="1" value="{{branch.name}}">{{branch.name}}</option>
       </select>
      <div  *ngFor="let commit of commits; let i = index"  class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">

         <!-- Lista comitova za gore navedeni datum izlistavati -->
         <ol class="commit-group Box Box--condensed">
            <li class="commit Box-row Box-row--focus-gray mt-0 p-2 d-flex js-commits-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content navigation-focus" data-channel="repo:236597678:commit:507bbb24002a701bd92338896cdce51e39cb716c" data-url="/adamovivan/UKS/commit/507bbb24002a701bd92338896cdce51e39cb716c/_render_node/commits/commits_list_item?responsive=true">
               <div class="flex-auto min-width-0">
                  <p class="commit-title h5 mb-1 text-gray-dark ">
                     <a href="{{commit.html_url}}">
                        {{commit.commit.message}}
                    </a>
                     <span class="hidden-text-expander inline">
                     </span>
                  </p>
                  <div class="commit-meta commit-author-section  d-flex flex-items-center mt-1">
                     <div class="AvatarStack flex-self-start ">
                        <div class="AvatarStack-body">
                           <img height="20" width="20" src="{{commit.author.avatar_url}}">
                        </div>
                     </div>
                     <div class="f6 text-gray min-width-0">
                        <p class="commit-author tooltipped tooltipped-s user-mention" style="display: inline;">{{commit.commit.author.name}}</p>
                        committed at {{commit.commit.author.date}}
                     </div>
                  </div>
                  <div class="commit-desc">
                     <pre class="text-small"></pre>
                  </div>
               </div>
            </li>
         </ol>
         
      </div>
   </div>
</div>